'kis-next-qt':
  name: 'KIS Next QT'
  color: '#ccf'
  url: 'https://kis-next-qt.quicktravel.com.au'
  services:
    index: solr
    workers: resque-pool
    scheduled-jobs: scheduler
    quicktravel: unicorn

'kis-next-cms':
  name: 'KIS Next SEALINK Cms'
  color: '#ccf'
  url: 'http://kis-next-cms.quicktravel.com.au'
  services:
    sealink-cms: unicorn
