%td
  - url_attrs = {href: app.url}
  - if !app.running?
    - url_attrs['disabled'] = 'disabled'
  %a.btn.btn-default{url_attrs}
    %span.icon-white.glyphicon.glyphicon-plane
    Open App
  &nbsp;
  - app_class = (app.running? ? 'success' : 'danger')
  - app_icon = (app.running? ? 'glyphicon-ok' : 'glyphicon-exclamation-sign' )
  %span.badge.inline-middle(class=app_class)
    %span.icon-white.glyphicon(class=app_icon)
  = app.to_s

%td
  - start_attrs = {title: 'Start', data: {name: app.name, 'loading-text' => "Booting up..."}}
  - if !app.running?
    - start_attrs[:href] = url_for(controller: 'apps', action: 'start', id: app.id)
  - else
    - start_attrs[:disabled] = 'disabled'
  %a.btn.btn-small.btn-success.start-btn{start_attrs}
    %span.glyphicon.glyphicon-off.icon-white
    Start

  - stop_attrs = {title: 'Stop', data: {name: app.name, 'loading-text' => "Shutting down..." }}
  - if app.any_running?
    - stop_attrs[:href] = url_for(controller: 'apps', action: 'stop', id: app.id)
  - else
    - stop_attrs[:disabled] = 'disabled'
  %a.btn.btn-small.btn-danger.stop-btn{stop_attrs}
    %span.glyphicon.glyphicon-off.icon-white
    Stop

%td
  - app.services.each do |service|
    - service_status = app.services_statuses[service]
    - service_class = service_status.running? ? 'label-success' : 'label-danger'
    %span.label.dependent-service(class=service_class data-toggle="tooltip" title="#{service_status.message}")
      - if !service_status.running?
        %span.glyphicon.glyphicon-exclamation-sign.icon-white
      - else
        %span.glyphicon.glyphicon-ok.icon-white
      = service.to_s
