%td
  - url_attrs = if app.running?
    - {href: app.url}
  - else
    - {disabled: 'disabled', href: "javascript:return false;"}
  %a.btn.btn-small{url_attrs}
    %i.icon-plane
    Open App
  &nbsp;
  - app_class = app.running? ? 'badge-success' : 'badge-important'
  - app_icon = (app.running? ? 'icon-ok' : 'icon-remove' )
  .badge(class=app_class)
    %i.icon-white(class=app_icon)
  = app.to_s

%td
  - start_attrs = {title: 'Start', data: {name: app.name}}
  - if !app.running?
    - start_attrs[:href] = url_for(controller: 'apps', action: 'start', id: app.id)
  - else
    - start_attrs[:disabled] = 'disabled'
  %a.btn.btn-small.btn-success{start_attrs}
    %i.icon-off.icon-white
    Start

  - stop_attrs = {title: 'Stop', data: {name: app.name}}
  - if app.any_running?
    - stop_attrs[:href] = url_for(controller: 'apps', action: 'stop', id: app.id)
  - else
    - stop_attrs[:disabled] = 'disabled'
  %a.btn.btn-small.btn-danger{stop_attrs}
    %i.icon-off.icon-white
    Stop

%td
  - app.services.each do |service|
    - service_status = app.services_statuses[service]
    - service_class = service_status.running? ? 'label-success' : 'label-important'
    %span.label(class=service_class rel='tooltip' title="#{service_status.message}")
      - if !service_status.running?
        %i.icon-remove
      - else
        %i.icon-ok
      = service.to_s
