%table.table
  %thead
    %tr
      %th.span3 App
      %th.span2 Action
      %th.span7 Dependent Services

  %tbody
    - @apps.each do |app|
      %tr(id="app-#{app.id}")
        = render partial: 'app', locals: { app: app }

:javascript
  var app_ids = #{@apps.map(&:id).to_json};
  window.app_collection = new AppCollection(app_ids)
