.well
  .container
    %h1 App Launcher 2.0

.container
  %table.table.table-striped
    %thead
      %tr
        %th App
        %th Actions
        %th Dependent Services

    %tbody
      - @apps.each do |app|
        %tr(id="app-#{app.id}")
          = render partial: 'app', locals: { app: app }

:javascript
  var app_ids = #{@apps.map(&:id).to_json};
  window.app_collection = new AppCollection(app_ids)

  $(function() {
    $("[rel=tooltip]").tooltip({ placement: 'right'});
  });
